button{
    background-color: rgb(192, 93, 93);
    border-style: none;
    padding: 1.25rem .8rem 1.25rem .8rem;
    cursor: pointer;
    color: white;
    font-size: .8rem;
    font-family: inherit;
}
button:hover{
    background-color: rgb(255, 176, 176);
}